<div class="container">
    <div class="card text-primary">
        <div class="card-header text-center">
            <div class="title">
                <h1 class="card-title">
                    {{titulo}}
                </h1>
            </div>
            <div class="card-body">
                <form action="">
                    <div class="form-group">
                        <!--Para hacer referencia a numero 1-->
                        <label>Numero Uno</label>
                        <input type="number" placeholder="Numero Uno" name="numeroUno" [(ngModel)]="numeroUno">

                        <!--Para hacer referencia a numero 2-->
                        <label>Numero Dos</label>
                        <input type="number" placeholder="Numero Dos" name="numeroDos" [(ngModel)]="numeroDos">

                        <div class="mb-3">
                            <button type="button" class="btn btn-outline-success" (click)="multiplicar()">Multiplicar</button>
                            <button type="button" class="btn btn-outline-danger" (click)="dividir()">Dividir</button>
                            <button type="button" class="btn btn-outline-primary" (click)="sumar()">Sumar</button>
                            <button type="button" class="btn btn-outline-info" (click)="restar()">Restar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer mb-3">
                El resultado es : {{resultado}}
            </div>
        </div>
    </div>
</div>